@mixin descriptionBtns() {
	font-family: 'Montserrat';
	background-color: transparent;
	border: none;
	cursor: pointer;
	border: solid 1px #4c3db2;
	color: #4c3db2;
	font-size: 8px;
	font-weight: 700;
	width: 176px;
	height: 45px;

	&:active {
		font-size: 10px;
	}
}

.catalog {
	margin: 105px auto 74px;
	max-width: 1440px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	.catalog__list {
		width: 416px;
		height: 710px;
		background-color: #efeef6;
		font-size: 12px;

		ul {
			padding: 45px 0 0 160px;
			list-style-type: none;
		}

		.list__li {
			margin-bottom: 27px;
			cursor: pointer;
		}

		.li__active {
			font-weight: 700;
			font-size: 16px;
			position: relative;

			&::before {
				content: '';
				width: 6px;
				height: 5.5px;
				border-radius: 50%;
				background-color: #756ad3;
				position: absolute;
				left: -14px;
				top: 6px;
			}
		}

		.list__li:not(.li__active):hover {
			@extend.li__active;
			font-size: 12px;

			&::before {
				top: 4px;
			}
		}
	}

	.catalog__cards {
		margin: 46px 0 0 -60px;
		width: 924px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;

		.card {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			width: 424px;
			margin-bottom: 96px;

			.description {
				font-family: 'Open Sans';
				font-weight: 400;
				font-size: 10px;
				color: #5c6a79;
				padding: 0 0 0 36px;

				.description__title {
					margin: 4px 0 0 0;
					font-family: 'Montserrat';
					font-weight: 700;
					font-size: 16px;
					color: #1c2a39;
				}

				.card__rating {
					margin-top: 4px;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					gap: 6px;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;

					.card__stars {
						img {
							width: 12px;
							height: 12px;
						}
					}
				}

				.description__txt {
					margin-top: 16px;
					max-height: 38px;
					overflow: hidden;
					-o-text-overflow: ellipsis;
					text-overflow: ellipsis;
					display: -moz-box;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					line-clamp: 3;
					box-orient: vertical;
					line-height: 13px;
				}

				.card__price {
					font-family: 'Montserrat';
					font-weight: 700;
					margin-top: 16px;
					color: #1c2a39;
					font-size: 13px;
				}

				.description__buy {
					@include descriptionBtns();
					margin-top: 16px;
				}

				.description__buyAdded {
					@include descriptionBtns();
					margin-top: 16px;
					border: solid 1px #eeedf5;
					color: #5c6a79;
				}
			}
		}

		.description__load {
			width: 100%;

			.loadBtn {
				@include descriptionBtns();
				margin-left: 40%;
			}
		}
	}
}

@media (max-width: 1200px) {
	.catalog {
		.catalog__list ul {
			padding: 45px 0 0 40px;
		}

		.catalog__cards {
			margin-left: 40px;
		}
	}
}

@media (max-width: 900px) {
	.catalog {
		margin-top: 50px;

		.catalog__cards {
			.card {
				margin-bottom: 20px;
			}

			.description__load {
				margin-top: 20px;
			}
		}
	}
}

@media (max-width: 650px) {
	.catalog {
		display: block;

		.catalog__list {
			width: 100%;
			height: auto;

			ul {
				padding: 20px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				gap: 25px;
			}
			.list-li {
				margin: 0;
			}
		}

		.catalog__cards {
			margin: 20px 0 0 0;
			width: 100%;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;

			.card img {
				width: 150px;
				height: 225px;
			}
			.card .description {
				padding: 10px;
			}
		}
	}
}
