.header {
	height: 116px;

	.navigation {
		background-color: #ffffffce;
		width: 1500px;
		position: fixed;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		height: 116px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-weight: 700;
		z-index: 2;
		padding: 0 190px;

		.navigation__bookshop {
			font-size: 24px;
			color: #1c2a39;
		}
		.navigation__links,
		.navigation__icons {
			font-size: 10px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			gap: 40px;

			.search {
				padding: 0;
			}

			a {
				text-decoration: none;
				color: #5c6a79;

				&:hover {
					color: #1c2a39;
				}
			}

			.navigation__links_active_link {
				font-weight: 800;
				color: #1c2a39;
			}

			.navigation__icons_btn_cart {
				.badge {
					position: absolute;
					top: 9px;
					left: 5px;
					width: 13px;
					height: 13px;
					border-radius: 50%;
					font-size: 10px;
					color: #ffffff;
					background-color: #ff353a;
					text-align: center;
					font-weight: 400;
					padding-top: 1px;
				}
			}

			button {
				background-color: transparent;
				border: none;
				cursor: pointer;
			}

			.navigation__icons_btn_cart {
				position: relative;
			}
		}
	}
}

@media (max-width: 1500px) {
	.header {
		.navigation {
			width: 100%;
		}
	}
}

@media (max-width: 1200px) {
	.header {
		.navigation {
			padding: 0 20px;
		}
	}
}

@media (max-width: 900px) {
	.header {
		.navigation {
			.navigation__bookshop {
				font-size: 20px;
			}

			.navigation__links {
				font-size: 9px;
				gap: 20px;
			}

			.navigation__icons {
				gap: 15px;
			}
		}
	}
}

@media (max-width: 650px) {
	.header {
		.navigation {
			.navigation__links {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				gap: 15px;
			}

			.navigation__icons {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
			}
		}
	}
}
