.info {
	max-width: 1120px;
	margin: 87px auto;

	.title {
		font-size: 24px;
		color: #1c2a39;
		font-weight: 700;
		margin: 0 0 19px;
	}

	.emptyCart {
		font-weight: 700;
		margin: 100px auto;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
	}

	.filledCart {
		font-weight: 700;

		.classification {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			margin: 19px 0 30px;

			.class1,
			.class2,
			.class3,
			.class4 {
				font-size: 10px;
				margin: 0;
				color: #5c6a79;
			}

			.class1 {
				width: 300px;
			}

			.class2 {
				width: 176px;
			}

			.class3 {
				width: 112px;
			}

			.class4 {
				width: 117px;
			}
		}

		.book {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			margin-bottom: 78px;
			color: #1c2a39;

			.item {
				width: 300px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				gap: 25px;

				.image {
					-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
				}

				.description {
					.descriptionTitle {
						margin: 39px 0 8px;
					}

					.author {
						margin: 0 0 11px 0;
						font-family: 'Open Sans';
						font-size: 10px;
						color: #5c6a79;
						font-weight: 400;
					}

					.card__rating {
						margin-top: 4px;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						gap: 6px;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;

						.card__stars {
							margin: 0;

							img {
								width: 12px;
								height: 12px;
							}
						}

						.review {
							font-family: 'Open Sans';
							font-size: 10px;
							color: #5c6a79;
							font-weight: 400;
						}
					}
				}
			}

			.quantity {
				width: 176px;
				height: 45px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				border: 2px solid #eeedf5;

				.quantityBtn {
					padding: 10px 16px;
					background-color: transparent;
					border: none;
					cursor: pointer;

					img {
						width: 21px;
						height: 20px;
					}

					&:active {
						-webkit-box-shadow: 0 0 10px 5px #4c3db2;
						box-shadow: 0 0 10px 5px #4c3db2;
					}
				}

				.quantityNum {
					margin: 10px 0;
				}
			}

			.price {
				font-size: 18px;
			}

			.delivery {
				font-size: 12px;
				color: #5c6a79;
			}
		}
	}

	.totalPrice {
		margin: 117px 0 19px;
		font-size: 24px;
		color: #1c2a39;
		font-weight: 700;
	}

	.checkoutBtn {
		background-color: transparent;
		border: none;
		cursor: pointer;
		border: solid 1px #4c3db2;
		color: #4c3db2;
		font-size: 8px;
		font-weight: 700;
		width: 176px;
		height: 45px;

		&:active {
			font-size: 10px;
		}
	}
}

@media (max-width: 1200px) {
	.info {
		padding: 0 20px;
	}
}

@media (max-width: 900px) {
	.info {
		.title {
			font-size: 20px;
		}

		.emptyCart {
			font-size: 14px;
		}

		.filledCart {
			.classification {
				.class1,
				.class2,
				.class3,
				.class4 {
					font-size: 9px;
				}

				.class1 {
					width: 120px;
				}

				.class2 {
					width: 40px;
				}

				.class3 {
					width: 85px;
				}

				.class4 {
					width: 97px;
				}
			}

			.book {
				margin-bottom: 35px;
				gap: 15px;

				.item {
					gap: 5px;
					width: 120px;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;

					.image {
						width: 120px;
						height: 160px;
					}

					.description {
						.descriptionTitle {
							margin-top: 0;
							font-size: 14px;
						}
					}
				}

				.quantity {
					-webkit-box-orient: vertical;
					-webkit-box-direction: reverse;
					-ms-flex-direction: column-reverse;
					flex-direction: column-reverse;
					height: 145px;
					width: 45px;
					text-align: center;

					.quantityBtn {
						padding: 10px;

						img {
							width: 15px;
							height: 15px;
						}
					}

					.quantityNum {
						font-size: 14px;
					}
				}

				.price {
					font-size: 16px;
				}

				.delivery {
					font-size: 10px;
				}
			}
		}

		.totalPrice {
			margin: 67px 0 10px;
			font-size: 20px;
		}
	}
}

@media (max-width: 650px) {
	.info {
		.title {
			font-size: 20px;
		}

		.emptyCart {
			font-size: 14px;
		}

		.filledCart {
			.classification {
				.class3 {
					width: 55px;
					margin-left: 45px;
				}

				.class4 {
					width: 70px;
				}
			}
		}
	}
}
