@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local(Montserrat),
    url(/fonts/Montserrat-VariableFont_wght.woff) format(woff);
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src: local(OpenSans),
    url(/fonts/OpenSans-VariableFont_wdth_wght.woff) format(woff);
}