// Я захотел вынести директивы медиа в отдельный файл, поэтому из-за особенностей SCSS нужно перебить по специфичности
// Сохраняю волженность и повышаю специфичность указывая body
@media (max-width: 1500px) {
	body .header .navigation {
		width: 100%;
	}
	body .slider .slider__link-top {
		top: 0;
		left: 971px;
	}
	body .slider .slider__link-bot {
		top: 429px;
		left: 962px;
	}
}

@media (max-width: 1200px) {
	body .header .navigation {
		padding: 0 20px;
	}
	body .slider .slider__link-top,
	body .slider .slider__link-bot {
		display: none;
	}
	body .catalog .catalog__list ul {
		padding: 45px 0 0 40px;
	}
	body .catalog .catalog__cards {
		margin-left: 40px;
	}
}

@media (max-width: 900px) {
	body .catalog {
		margin-top: 50px;
	}
	body .catalog .catalog__cards .card {
		margin-bottom: 20px;
	}
	body .catalog .catalog__cards .description__load {
		margin-top: 20px;
	}
	body .slider .slider__poster {
		height: 450px;
	}
	body .header .navigation .navigation__bookshop {
		font-size: 20px;
	}
	body .header .navigation .navigation__links {
		font-size: 9px;
		gap: 20px;
	}
	body .header .navigation .navigation__icons {
		gap: 10px;
	}
}

@media (max-width: 650px) {
	body .header .navigation .navigation__links {
		flex-direction: column;
		gap: 15px;
	}
	body .header .navigation .navigation__icons {
		flex-direction: column;
	}
    body .slider .slider__poster {
		height: 350px;
	}
	body .catalog {
		display: block;

		.catalog__list {
			width: 100%;
			height: auto;

			ul {
				padding: 20px;
				display: flex;
				flex-wrap: wrap;
				gap: 25px;
			}
			.list-li {
				margin: 0;
			}
		}
		.catalog__cards {
			margin: 20px 0 0 0;
			width: 100%;
			justify-content: center;

			.card img {
				width: 150px;
				height: 225px;
			}
			.card .description {
				padding: 10px;
			}
		}
	}
}
