// Цвета
$boldFont: #1c2a39;
$regularFont: #5c6a79;
$squareLinkTop: #9e98dc;
$squareLinkBot: #ff8fe6;
$list: #efeef6;
$listPoint: #756ad3;
$buyNow: #4c3db2;
$InTheCartBorder: #eeedf5;

// Размер Шрифтов
$navTitle: 24px;
$navLink: 10px;
$squareLink: 18px;
$listActive: 16px;
$listInactive: 12px;
$cardBtn: 8px;
$cardAuthor: 10px;
$cardTitle: 16px;
$cardTxt: 10px;
$cardPrice: 13px;

